.tab-content{
	width: 320px;
}
mat-form-field{
	width: 100%;
}
mat-checkbox{
	margin-left: 1em;
}
mat-divider{
	margin-top: 1em;
}
.action-row{
	display: flex;
	justify-content: space-between;
}
.error{
	color: red;
}