.tags-container {
  width: calc(100% - 1em);
  padding: 0.5em;
}

.fullwidth {
  width: calc(100% - 1em);
  padding: 0 0.5em;
}

mat-chip{
	/*white-space: pre-wrap;*/
  text-overflow: ellipsis;
  max-width: 200px;
  overflow: hidden;
}

.add-tag{
  max-height: 18px;
  max-width: 18px;
  margin-top: -7px;
  margin-left: -4px;
  margin-right: 5px;
}

.mat-chip-remove{
	margin-left: -4px;
  margin-right: 6px;
}

@media print
{    
  .no-print, .no-print * {
    display: none !important;
  }
}
