<md-accordion class="headers-align">
  
  <md-expansion-panel expanded="true" hideToggle="true" *ngIf="settings?.services">
    <md-expansion-panel-header>
      <md-panel-title>
        Services
      </md-panel-title>
      <md-panel-description>
        Configuration for order-able services
      </md-panel-description>
    </md-expansion-panel-header>

    <div class="edit-services-row">
      <md-select placeholder="Edit Service" [(ngModel)]="selectedService" name="service">
        <md-option *ngFor="let service of settings.services" [value]="service">
          {{service.name}}
        </md-option>
      </md-select>
      <button md-icon-button 
        *ngIf="selectedService"
        (click)="removeService(selectedService)" 
        mdTooltip="Delete {{selectedService.name}}"
        class="delete-service">
        <md-icon>delete</md-icon>
      </button>
      <span class="flexfill"></span>
      <md-form-field class="halfwidth">
        <input mdInput 
          [(ngModel)]="settings.service_heading" 
          (change)="onChange()"
          placeholder="Services Page Heading">
      </md-form-field>
      
    </div>
    <div>
      <div *ngIf="settings?.services.length == 0" class="center">
        <h3>No services yet...</h3>
      </div>

      <div *ngIf="selectedService" class="service-panel">
        
        <div>
          <md-form-field class="halfwidth">
            <input mdInput 
              [(ngModel)]="selectedService.name" 
              (change)="onChange()"
              placeholder="Name">
          </md-form-field>
          <md-form-field class="halfwidth">
            <input mdInput 
              [(ngModel)]="selectedService.slug" 
              (change)="onChange()"
              placeholder="Slug">
          </md-form-field>
        </div>


        <md-list>
          <md-list-item>
            <md-form-field class="fullwidth">
              <input mdInput 
                [(ngModel)]="selectedService.image" 
                (change)="onChange()"
                placeholder="Main Image URL">
            </md-form-field>
          </md-list-item>
          <md-list-item *ngFor="let detail_image of selectedService.detail_images">
            <md-form-field class="halfwidth">
              <input mdInput 
                [(ngModel)]="detail_image.url" 
                (change)="onChange()"
                placeholder="Detail Image URL">
            </md-form-field>
            <button md-icon-button 
              (click)="removeServiceDetailImage(detail_image)" 
              mdTooltip="Delete {{detail_image.url}}"
              class="delete-service">
              <md-icon>delete</md-icon>
            </button>
          </md-list-item>
        </md-list>


        <div class="detail-item">
          <div *ngFor="let item of selectedService.detail_items">
            <md-form-field class="detail-item-heading">
              <input mdInput 
                [(ngModel)]="item.heading" 
                (change)="onChange()"
                placeholder="Item Heading Text">
            </md-form-field>
            <button md-icon-button 
              (click)="removeServiceDetailItem(item)" 
              mdTooltip="Delete {{item.heading}}"
              class="delete-service">
              <md-icon>delete</md-icon>
            </button>
            <div>
              <md-form-field class="fullwidth">
                <textarea mdInput 
                  [(ngModel)]="item.detail" 
                  (change)="onChange()"
                  placeholder="Item Detail Text"></textarea>
              </md-form-field>
            </div>
          </div>
        </div>

      </div>

    </div>

    <md-action-row>
      
      <button md-button 
        (click)="addService()" 
        mdTooltip="Add a new service">
        <md-icon>add</md-icon> Service
      </button>

      <button md-button 
        *ngIf="selectedService"
        (click)="addServiceDetailImage()" 
        mdTooltip="Add a new detail image">
        <md-icon>add</md-icon> Detail Image
      </button>

      <button md-button 
        *ngIf="selectedService"
        (click)="addServiceDetailItem()" 
        mdTooltip="Add a new detail item">
        <md-icon>add</md-icon> Detail Item
      </button>

      <span class="flexfill"></span>
      <button type="button" md-button (click)="saveSettings()" [disabled]="disableSave">
        <md-icon>save</md-icon>Save Settings
      </button>
    </md-action-row>
  </md-expansion-panel>

  <md-expansion-panel hideToggle="true">
    <md-expansion-panel-header>
      <md-panel-title>
        Orders
      </md-panel-title>
      <md-panel-description>
        Order form configuration
      </md-panel-description>
    </md-expansion-panel-header>

    <div *ngIf="settings?.order_statuses">
	   	<h3>Order Statuses</h3>
	    <md-chip-list mdPrefix #chipList> 
	      <md-chip *ngFor="let item of settings.order_statuses" [selectable]="selectable"
	               [removable]="removable" (remove)="removeStatus(item)">
	        <md-icon mdChipRemove *ngIf="removable">cancel</md-icon>
	        {{item.name}}
	      </md-chip>
	    </md-chip-list>
	    <md-form-field class="demo-chip-list fullwidth">
	      <input mdInput placeholder="New status..."
	             [mdChipInputFor]="chipList"
	             [mdChipInputSeparatorKeyCodes]="separatorKeysCodes"
	             [mdChipInputAddOnBlur]="addOnBlur"
	             (mdChipInputTokenEnd)="addStatus($event)" />
	    </md-form-field>

		</div>


    <md-action-row>
    	<button type="button" md-button (click)="saveSettings()" [disabled]="disableSave">
    		<md-icon>save</md-icon>Save Settings
    	</button>
    </md-action-row>
  </md-expansion-panel>


  <md-expansion-panel hideToggle="true" *ngIf="settings?.google_api">
    <md-expansion-panel-header>
      <md-panel-title>
        Google
      </md-panel-title>
      <md-panel-description>
        API keys for Google services
      </md-panel-description>
    </md-expansion-panel-header>

    <div>
      <md-form-field class="halfwidth">
        <input mdInput 
          [(ngModel)]="settings.google_api.client_id" 
          (change)="onChange()"
          placeholder="Client ID">
      </md-form-field>
      <md-form-field class="halfwidth">
        <input mdInput 
          [(ngModel)]="settings.google_api.api_key" 
          (change)="onChange()"
          placeholder="API Key">
      </md-form-field>
    </div>

    <md-action-row>
      <button type="button" md-button (click)="saveSettings()" [disabled]="disableSave">
        <md-icon>save</md-icon>Save Settings
      </button>
    </md-action-row>
  </md-expansion-panel>

</md-accordion>
