<md-accordion id="settings" class="headers-align" *ngIf="settings">
  
  <md-expansion-panel >
    <md-expansion-panel-header>
      <md-panel-title>
        General
      </md-panel-title>
      <md-panel-description>
        Site information &amp; landing page carousel images
      </md-panel-description>
    </md-expansion-panel-header>

    <md-form-field class="halfwidth">
      <input mdInput 
        [(ngModel)]="settings.site_title" 
        (change)="onChange()"
        placeholder="Site Title">
    </md-form-field>
    <md-form-field class="halfwidth">
      <input mdInput 
        [(ngModel)]="settings.logo_image" 
        (change)="onChange()"
        placeholder="Site Logo URL">
    </md-form-field>

    <md-form-field class="fullwidth">
      <textarea mdInput 
        [(ngModel)]="settings.site_description" 
        (change)="onChange()"
        placeholder="Site Description"></textarea>
    </md-form-field>

    <md-form-field class="fullwidth">
      <input mdInput 
        [(ngModel)]="settings.phone" 
        (change)="onChange()"
        placeholder="Phone #">
    </md-form-field>

    <div>
      <div *ngIf="settings?.landing_page_social_items.length == 0; else elseBlock" class="center">
        <h3>No landing page social media linkz yet...</h3>
      </div>
      <ng-template #elseBlock><h4>Social Media Linkz</h4></ng-template>
      
      <div class="detail-item" *ngFor="let item of settings.landing_page_social_items">
        <md-form-field class="detail-item-heading halfwidthbtn">
          <input mdInput 
            [(ngModel)]="item.url" 
            (change)="onChange()"
            placeholder="URL">
        </md-form-field>
        <md-form-field class="halfwidthbtn">
          <input mdInput 
            [(ngModel)]="item.name" 
            (change)="onChange()"
            placeholder="Name (optional)">
        </md-form-field>
        <button md-icon-button 
          (click)="removeLandingSocialItem(item)" 
          mdTooltip="Delete {{item.name}}"
          class="delete-service">
          <md-icon>delete</md-icon>
        </button>
      </div>
    </div>

    <div>
      <div *ngIf="settings?.landing_page_items.length == 0; else landingElseBlock" class="center">
        <h3>No landing page carousel images yet...</h3>
      </div>
      <ng-template #landingElseBlock><h4>Carousel Images</h4></ng-template>
      
      <div class="detail-item" *ngFor="let item of settings.landing_page_items">
        <md-form-field class="detail-item-heading halfwidthbtn">
          <input mdInput 
            [(ngModel)]="item.url" 
            (change)="onChange()"
            placeholder="Image URL">
        </md-form-field>
        <md-form-field class="halfwidthbtn">
          <input mdInput 
            [(ngModel)]="item.href" 
            (change)="onChange()"
            placeholder="Image Link (optional)">
        </md-form-field>
        <button md-icon-button 
          (click)="removeLandingPageItem(item)" 
          mdTooltip="Delete Image"
          class="delete-service">
          <md-icon>delete</md-icon>
        </button>
      </div>
        
    </div>

    <md-action-row>
      
      <button md-button 
        (click)="addLandingSocialItem()" 
        mdTooltip="Add a new social media link">
        <md-icon>add</md-icon> SocialMedia Link
      </button>

      <button md-button 
        (click)="addLandingPageItem()" 
        mdTooltip="Add a new landing page image">
        <md-icon>add</md-icon> Carousel Image
      </button>

      <span class="flexfill"></span>
      <button type="button" md-button (click)="saveSettings()" [disabled]="disableSave">
        <md-icon>save</md-icon>Save Settings
      </button>
    </md-action-row>
  </md-expansion-panel>

  <md-expansion-panel>
    <md-expansion-panel-header>
      <md-panel-title>
        About
      </md-panel-title>
      <md-panel-description>
        Page text items
      </md-panel-description>
    </md-expansion-panel-header>

    <md-form-field class="halfwidth">
      <input mdInput 
        [(ngModel)]="settings.about_page_heading" 
        (change)="onChange()"
        placeholder="About Page Heading">
    </md-form-field>
    <div>
      <div *ngIf="settings?.about_page_items.length == 0" class="center">
        <h3>No details yet...</h3>
      </div>

      <div class="detail-item" *ngFor="let item of settings.about_page_items">
        <md-form-field class="detail-item-heading">
          <input mdInput 
            [(ngModel)]="item.heading" 
            (change)="onChange()"
            placeholder="Item Heading Text">
        </md-form-field>
        <button md-icon-button 
          (click)="removeAboutPageItem(item)" 
          mdTooltip="Delete {{item.heading}}"
          class="delete-service">
          <md-icon>delete</md-icon>
        </button>
        <div>
          <md-form-field class="fullwidth">
            <textarea mdInput 
              [(ngModel)]="item.detail" 
              (change)="onChange()"
              placeholder="Item Detail Text"></textarea>
          </md-form-field>
        </div>
      </div>
        
    </div>

    <md-action-row>
      
      <button md-button 
        (click)="addAboutPageItem()" 
        mdTooltip="Add a new detail item">
        <md-icon>add</md-icon> Detail Item
      </button>

      <span class="flexfill"></span>
      <button type="button" md-button (click)="saveSettings()" [disabled]="disableSave">
        <md-icon>save</md-icon>Save Settings
      </button>
    </md-action-row>
  </md-expansion-panel>

  <md-expansion-panel *ngIf="settings?.services">
    <md-expansion-panel-header>
      <md-panel-title>
        Services
      </md-panel-title>
      <md-panel-description>
        Service page details
      </md-panel-description>
    </md-expansion-panel-header>

    <div class="edit-services-row">
      <md-select placeholder="Edit Service" [(ngModel)]="selectedService" name="service">
        <md-option *ngFor="let service of settings.services" [value]="service">
          {{service.name}}
        </md-option>
      </md-select>
      <button md-icon-button 
        *ngIf="selectedService"
        (click)="removeService(selectedService)" 
        mdTooltip="Delete {{selectedService.name}}"
        class="delete-service">
        <md-icon>delete</md-icon>
      </button>
      <span class="flexfill"></span>
      <md-form-field class="halfwidth">
        <input mdInput 
          [(ngModel)]="settings.service_heading" 
          (change)="onChange()"
          placeholder="Services Page Heading">
      </md-form-field>
      
    </div>
    <div>
      <div *ngIf="settings?.services.length == 0" class="center">
        <h3>No services yet...</h3>
      </div>

      <div *ngIf="selectedService" class="service-panel">
        
        <div>
          <md-form-field class="halfwidth">
            <input mdInput 
              [(ngModel)]="selectedService.name" 
              (change)="onChange()"
              placeholder="Name">
          </md-form-field>
          <md-form-field class="halfwidth">
            <input mdInput 
              [(ngModel)]="selectedService.slug" 
              (change)="onChange()"
              placeholder="Slug">
          </md-form-field>
        </div>

        <md-form-field class="fullwidth">
          <input mdInput 
            [(ngModel)]="selectedService.image" 
            (change)="onChange()"
            placeholder="Main Image URL">
        </md-form-field>
        <div class="detail-item">
          <div *ngFor="let detail_image of selectedService.detail_images">
            <md-form-field class="halfwidth">
              <input mdInput 
                [(ngModel)]="detail_image.url" 
                (change)="onChange()"
                placeholder="Detail Image URL">
            </md-form-field>
            <button md-icon-button 
              (click)="removeServiceDetailImage(detail_image)" 
              mdTooltip="Delete {{detail_image.url}}"
              class="delete-service">
              <md-icon>delete</md-icon>
            </button>
          </div>
        </div>


        <div class="detail-item">
          <div *ngFor="let item of selectedService.detail_items">
            <md-form-field class="detail-item-heading">
              <input mdInput 
                [(ngModel)]="item.heading" 
                (change)="onChange()"
                placeholder="Item Heading Text">
            </md-form-field>
            <button md-icon-button 
              (click)="removeServiceDetailItem(item)" 
              mdTooltip="Delete {{item.heading}}"
              class="delete-service">
              <md-icon>delete</md-icon>
            </button>
            <div>
              <md-form-field class="fullwidth">
                <textarea mdInput 
                  [(ngModel)]="item.detail" 
                  (change)="onChange()"
                  placeholder="Item Detail Text"></textarea>
              </md-form-field>
            </div>
          </div>
        </div>

      </div>

    </div>

    <md-action-row>
      
      <button md-button 
        (click)="addService()" 
        mdTooltip="Add a new service">
        <md-icon>add</md-icon> Service
      </button>

      <button md-button 
        *ngIf="selectedService"
        (click)="addServiceDetailImage()" 
        mdTooltip="Add a new detail image">
        <md-icon>add</md-icon> Detail Image
      </button>

      <button md-button 
        *ngIf="selectedService"
        (click)="addServiceDetailItem()" 
        mdTooltip="Add a new detail item">
        <md-icon>add</md-icon> Detail Item
      </button>

      <span class="flexfill"></span>
      <button type="button" md-button (click)="saveSettings()" [disabled]="disableSave">
        <md-icon>save</md-icon>Save Settings
      </button>
    </md-action-row>
  </md-expansion-panel>

  <md-expansion-panel *ngIf="settings?.services">
    <md-expansion-panel-header>
      <md-panel-title>
        Order
      </md-panel-title>
      <md-panel-description>
        Order service details
      </md-panel-description>
    </md-expansion-panel-header>

    <div class="edit-services-row">
      <md-select placeholder="Edit Service" [(ngModel)]="selectedService" name="service">
        <md-option *ngFor="let service of settings.services" [value]="service">
          {{service.name}}
        </md-option>
      </md-select>
      <button md-icon-button 
        *ngIf="selectedService"
        (click)="removeService(selectedService)" 
        mdTooltip="Delete {{selectedService.name}}"
        class="delete-service">
        <md-icon>delete</md-icon>
      </button>

      <span class="flexfill"></span>
      <md-form-field *ngIf="selectedService">
        <input mdInput 
          [(ngModel)]="selectedService.name" 
          (change)="onChange()"
          placeholder="Name">
      </md-form-field>
      <span class="flexfill"></span>
      <md-select placeholder="Vendor Goods Catalog" 
        *ngIf="selectedService"
        [(ngModel)]="selectedService.vendor_goods_catalog">
        <md-option value="">
          None
        </md-option>
        <md-option value="default">
          Default
        </md-option>
      </md-select>
      
    </div>
    <div>
      <div *ngIf="settings?.services.length == 0" class="center">
        <h3>No services yet...</h3>
      </div>

      <div *ngIf="selectedService" class="service-panel">
        <h3 *ngIf="selectedService.order_fields && selectedService.order_fields.length > 0">Order Fields:</h3>
        <div class="detail-item">
          <div *ngFor="let field of selectedService.order_fields">
            <section>
              <md-form-field class="">
                <input mdInput 
                  [(ngModel)]="field.name" 
                  (change)="onChange()"
                  placeholder="Order Field Name">
              </md-form-field>

              <md-checkbox [(ngModel)]="field.internal">Internal</md-checkbox>
              <md-checkbox [(ngModel)]="field.required">Required</md-checkbox>
              <md-checkbox [(ngModel)]="field.sum">Sum</md-checkbox>

              <button md-icon-button 
                (click)="removeOrderField(field)" 
                mdTooltip="Delete Order Service Item"
                class="delete-service">
                <md-icon>delete</md-icon>
              </button>
            </section>
            <section>
              <md-select placeholder="Type" [(ngModel)]="field.type">
                <md-option *ngFor="let type of order_field_types" [value]="type.value">
                  {{ type.name }}
                </md-option>
              </md-select>

            </section>
            <hr>
          </div>
        </div>

      </div>

    </div>

    <md-action-row>
      
      <button md-button 
        (click)="addService()" 
        mdTooltip="Add a new service">
        <md-icon>add</md-icon> Service
      </button>

      <button md-button 
        *ngIf="selectedService"
        (click)="addOrderField()" 
        mdTooltip="Add a new order field">
        <md-icon>add</md-icon> Field
      </button>

      <span class="flexfill"></span>
      <button type="button" md-button (click)="saveSettings()" [disabled]="disableSave">
        <md-icon>save</md-icon>Save Settings
      </button>
    </md-action-row>
  </md-expansion-panel>


  <md-expansion-panel>
    <md-expansion-panel-header>
      <md-panel-title>
        Dashboard
      </md-panel-title>
      <md-panel-description>
        Order category lanes
      </md-panel-description>
    </md-expansion-panel-header>

    <div *ngIf="settings?.order_statuses">
	   	<h3>Order Statuses</h3>
	    <md-chip-list mdPrefix #chipList> 
	      <md-chip *ngFor="let item of settings.order_statuses" [selectable]="selectable"
	               [removable]="removable" (remove)="removeStatus(item)">
	        <md-icon mdChipRemove *ngIf="removable">cancel</md-icon>
	        {{item.name}}
	      </md-chip>
	    </md-chip-list>
	    <md-form-field class="demo-chip-list fullwidth">
	      <input mdInput placeholder="New status..."
	             [mdChipInputFor]="chipList"
	             [mdChipInputSeparatorKeyCodes]="separatorKeysCodes"
	             [mdChipInputAddOnBlur]="addOnBlur"
	             (mdChipInputTokenEnd)="addStatus($event)" />
	    </md-form-field>

		</div>


    <md-action-row>
    	<button type="button" md-button (click)="saveSettings()" [disabled]="disableSave">
    		<md-icon>save</md-icon>Save Settings
    	</button>
    </md-action-row>
  </md-expansion-panel>


  <md-expansion-panel *ngIf="settings?.google_api">
    <md-expansion-panel-header>
      <md-panel-title>
        Google
      </md-panel-title>
      <md-panel-description>
        API keys for Google services
      </md-panel-description>
    </md-expansion-panel-header>

    <div>
      <md-form-field class="halfwidth">
        <input mdInput 
          [(ngModel)]="settings.google_api.client_id" 
          (change)="onChange()"
          placeholder="Client ID">
      </md-form-field>
      <md-form-field class="halfwidth">
        <input mdInput 
          [(ngModel)]="settings.google_api.api_key" 
          (change)="onChange()"
          placeholder="API Key">
      </md-form-field>
    </div>

    <md-action-row>
      <button type="button" md-button (click)="saveSettings()" [disabled]="disableSave">
        <md-icon>save</md-icon>Save Settings
      </button>
    </md-action-row>
  </md-expansion-panel>

</md-accordion>
