<mat-accordion id="settings" class="headers-align" *ngIf="settings">
  
  <mat-expansion-panel >
    <mat-expansion-panel-header>
      <mat-panel-title>
        General
      </mat-panel-title>
      <mat-panel-description>
        Site information &amp; landing page details
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div class="inline-flex">
      <div class="flex-column">
        <mat-form-field>
          <input matInput 
            [(ngModel)]="settings.site_title" 
            (change)="onChange()"
            placeholder="Site Title">
        </mat-form-field>
        <mat-form-field>
          <textarea matInput 
            matAutosizeMinRows="4"
            rows="4"
            [(ngModel)]="settings.site_description" 
            (change)="onChange()"
            placeholder="Site Description"></textarea>
        </mat-form-field>

        <mat-form-field>
          <input matInput 
            [(ngModel)]="settings.phone" 
            (change)="onChange()"
            placeholder="Phone #">
        </mat-form-field>
      </div>
      <div>
        <mat-card>
          <mat-card-header>
            <button mat-icon-button 
              (click)="uploadLogoFile()"
              matTooltip="Upload Image">
              <mat-icon>file_upload</mat-icon>
            </button>
            <span class="flexfill"></span>
            <span class="logo-title">Logo Image</span>
            <span class="flexfill"></span>
            <button mat-icon-button 
              (click)="removeLogoImage()" 
              matTooltip="Remove Logo Image">
              <mat-icon>clear</mat-icon>
            </button>
          </mat-card-header>
          <mat-card-content>
            <img class="logo-img" alt="Logo Image" [src]="logoAttachmentSrc()" />
          </mat-card-content>
          <mat-card-actions>
            <mat-form-field>
              <input matInput 
                [(ngModel)]="settings.logo_image_url" 
                (change)="onChange()"
                placeholder="Logo Image URL">
            </mat-form-field>
          </mat-card-actions>
        </mat-card>
      </div>
      
      <input #logoFile hidden type="file" (change)="logoFileChnaged($event)" (disabled)="logoFileUploading" />
      <mat-progress-bar mode="indeterminate" [hidden]="!logoFileUploading"></mat-progress-bar>

    </div>


    <div>
      <div *ngIf="settings?.landing_page_social_items.length > 0" class="center">
        <h4>Social Media Links</h4>
      </div>
      
      <div class="detail-item" *ngFor="let item of settings.landing_page_social_items">
        <mat-form-field class="detail-item-heading halfwidthbtn">
          <input matInput 
            [(ngModel)]="item.url" 
            (change)="onChange()"
            placeholder="URL">
        </mat-form-field>
        <mat-form-field class="halfwidthbtn">
          <input matInput 
            [(ngModel)]="item.name" 
            (change)="onChange()"
            placeholder="Name (optional)">
        </mat-form-field>
        <button mat-icon-button 
          (click)="removeLandingSocialItem(item)" 
          matTooltip="Delete Social Media Item {{item.name}}"
          class="delete-service">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>

    <div>
      <div *ngIf="settings?.landing_page_items.length > 0" class="center">
        <h4>Carousel Images</h4>
      </div>
      
      <mat-grid-list cols="{{gridCols}}" rowHeight="3:2" gutterSize="10px">
        <mat-grid-tile *ngFor="let item of settings.landing_page_items; let idx = index">
          <mat-grid-tile-header>
            <button mat-icon-button 
              (click)="removeLandingPageItem(item)" 
              matTooltip="Delete Image"
              class="delete-service">
              <mat-icon>clear</mat-icon>
            </button>
            <span class="flexfill"></span>
            <button mat-icon-button 
              (click)="uploadCarouselFile(idx)"
              matTooltip="Upload Image">
              <mat-icon>file_upload</mat-icon>
            </button>
          </mat-grid-tile-header>
          <img class="grid-img" alt="Carousel Image" [src]="attachmentSrcFor(item)" />

          <mat-grid-tile-footer>
            <mat-form-field>
              <input matInput 
                [(ngModel)]="item.url" 
                (change)="onChange()"
                placeholder="Image URL">
            </mat-form-field>
            
          </mat-grid-tile-footer>
          
        </mat-grid-tile>
      </mat-grid-list>
      <input #carouselFile hidden type="file" (change)="carouselFileChnaged($event)" (disabled)="carouselFileUploading" />
      <mat-progress-bar mode="indeterminate" [hidden]="!carouselFileUploading"></mat-progress-bar>
      
      <span id="carouselFileUploadFeedback" [hidden]="!carouselFileError">
        ERROR! Could not upload that file. Please try again or choose a different file.
      </span>
        
    </div>

    <mat-action-row>
      
      <button mat-button 
        (click)="addLandingSocialItem()" 
        matTooltip="Add a new social media link">
        <mat-icon>add</mat-icon> <span class="hide-on-small">SocialMedia</span> Link
      </button>

      <button mat-button 
        (click)="addLandingPageItem()" 
        matTooltip="Add a new landing page image">
        <mat-icon>add</mat-icon> <span class="hide-on-small">Carousel</span> Image
      </button>

      <span class="flexfill"></span>
      <button type="button" mat-button (click)="saveSettings()" [disabled]="disableSave">
        <mat-icon>save</mat-icon>Save <span class="hide-on-small">Settings</span>
      </button>
    </mat-action-row>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        About
      </mat-panel-title>
      <mat-panel-description>
        About page details
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-form-field class="halfwidth">
      <input matInput 
        [(ngModel)]="settings.about_page_heading" 
        (change)="onChange()"
        placeholder="About Page Heading">
    </mat-form-field>
    <div>
      <div *ngIf="settings?.about_page_items.length == 0" class="center">
        <h3>No details yet...</h3>
      </div>

      <div class="detail-item" *ngFor="let item of settings.about_page_items">
        <mat-form-field class="detail-item-heading">
          <input matInput 
            [(ngModel)]="item.heading" 
            (change)="onChange()"
            placeholder="Item Heading Text">
        </mat-form-field>
        <button mat-button 
          (click)="removeAboutPageItem(item)" 
          matTooltip="Delete Detail Item {{item.heading}}"
          class="delete-service">
          <mat-icon>delete</mat-icon>
          <span class="show-on-small">Delete Detail Item</span>
        </button>
        
        <div>
          <mat-form-field class="fullwidth">
            <textarea matInput 
              [(ngModel)]="item.detail" 
              (change)="onChange()"
              placeholder="Item Detail Text"></textarea>
          </mat-form-field>
        </div>
      </div>
        
    </div>

    <mat-action-row>
      
      <button mat-button 
        (click)="addAboutPageItem()" 
        matTooltip="Add a new detail item">
        <mat-icon>add</mat-icon> Detail Item
      </button>

      <span class="flexfill"></span>
      <button type="button" mat-button (click)="saveSettings()" [disabled]="disableSave">
        <mat-icon>save</mat-icon>Save <span class="hide-on-small">Settings</span>
      </button>
    </mat-action-row>
  </mat-expansion-panel>

  <mat-expansion-panel *ngIf="settings?.services">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Services
      </mat-panel-title>
      <mat-panel-description>
        Service details
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-form-field class="fullwidth-on-small">
      <input matInput 
        [(ngModel)]="settings.service_heading" 
        (change)="onChange()"
        placeholder="Services Page Heading">
    </mat-form-field>
    <section class="edit-services-row">
      <mat-form-field>
        <mat-select matInput placeholder="Edit Service" name="service"
          [(ngModel)]="selectedService">
          <mat-option *ngFor="let service of settings.services" [value]="service">
            {{service.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <button mat-button *ngIf="selectedService"
        (click)="removeService(selectedService)" 
        matTooltip="Delete Service {{selectedService.name}}"
        class="delete-service fullwidth-on-small">
        <mat-icon>delete</mat-icon>
        <span class="show-on-small">Delete Service {{selectedService.name}}</span>
      </button>
    </section>
    <div>
      <div *ngIf="settings?.services.length == 0" class="center">
        <h3>No services yet...</h3>
      </div>

      <div *ngIf="selectedService" class="service-panel">
        
        <div class="inline-flex">
          <div class="flex-column">
            <mat-form-field>
              <input matInput 
                [(ngModel)]="selectedService.name" 
                (change)="onChange()"
                placeholder="Name">
            </mat-form-field>
            <mat-form-field>
              <input matInput 
                [(ngModel)]="selectedService.slug" 
                (change)="onChange()"
                placeholder="Slug">
            </mat-form-field>

            <mat-checkbox 
              [(ngModel)]="selectedService.internal" (change)="onChange()" matTooltip="For admins only">Internal
            </mat-checkbox>

            <mat-form-field *ngIf="selectedService">
              <mat-select matInput placeholder="Vendor Goods Catalog" 
                [(ngModel)]="selectedService.vendor_goods_catalog"
                (change)="onChange()">
                <mat-option value="">
                  None
                </mat-option>
                <mat-option value="default">
                  Default
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-checkbox *ngIf="selectedService" matTooltip="Toggle notes field"
              [(ngModel)]="selectedService.notes" (change)="onChange()">Notes</mat-checkbox>

          </div>
          <div>
            <mat-card>
              <mat-card-header>
                <button mat-icon-button 
                  (click)="uploadServiceFile()"
                  matTooltip="Upload Image">
                  <mat-icon>file_upload</mat-icon>
                </button>
                <span class="flexfill"></span>
                <span class="logo-title">Main Image</span>
                <span class="flexfill"></span>
                <button mat-icon-button 
                  (click)="removeServiceImage(selectedService)" 
                  matTooltip="Remove Main Image">
                  <mat-icon>clear</mat-icon>
                </button>
              </mat-card-header>
              <mat-card-content>
                <img class="logo-img" alt="Logo Image" [src]="serviceAttachmentSrc(selectedService)" />
              </mat-card-content>
              <mat-card-actions>
                <mat-form-field>
                  <input matInput 
                    [(ngModel)]="selectedService.image_url" 
                    (change)="onChange()"
                    placeholder="Main Image URL">
                </mat-form-field>
              </mat-card-actions>
            </mat-card>
            <input #serviceFile hidden type="file" (change)="serviceFileChnaged($event)" (disabled)="serviceFileUploading" />
            <mat-progress-bar mode="indeterminate" [hidden]="!serviceFileUploading"></mat-progress-bar>
          </div>
        </div>

        <div *ngIf="selectedService.detail_images && selectedService.detail_images.length > 0">
          <h3>Detail Images</h3>
          <mat-grid-list cols="{{gridCols}}" rowHeight="3:2" gutterSize="10px" class="service-detail-images">
            <mat-grid-tile *ngFor="let item of selectedService.detail_images; let idx = index">
              <mat-grid-tile-header>
                <button mat-icon-button 
                  (click)="removeServiceDetailImage(item)" 
                  matTooltip="Delete Image"
                  class="delete-service">
                  <mat-icon>clear</mat-icon>
                </button>
                <span class="flexfill"></span>
                <button mat-icon-button 
                  (click)="uploadServiceDetailImage(idx)"
                  matTooltip="Upload Image">
                  <mat-icon>file_upload</mat-icon>
                </button>
              </mat-grid-tile-header>
              <img class="grid-img" alt="Carousel Image" [src]="attachmentSrcFor(item)" />

              <mat-grid-tile-footer>
                <mat-form-field>
                  <input matInput 
                    [(ngModel)]="item.url" 
                    (change)="onChange()"
                    placeholder="Image URL">
                </mat-form-field>
                
              </mat-grid-tile-footer>
              
            </mat-grid-tile>
          </mat-grid-list>
          <input #serviceDetailImage hidden type="file" (change)="serviceDetailImageChnaged($event)" (disabled)="serviceDetailImageUploading" />
          <mat-progress-bar mode="indeterminate" [hidden]="!serviceDetailImageUploading"></mat-progress-bar>
        </div>

        <div>
          <div *ngFor="let detailItem of selectedService.detail_items">
            <mat-form-field class="halfwidth">
              <input matInput 
                [(ngModel)]="detailItem.heading" 
                (change)="onChange()"
                placeholder="Detail Item Heading">
            </mat-form-field>
            <button mat-button 
              (click)="removeServiceDetailItem(detailItem)" 
              matTooltip="Delete Detail Item {{detailItem.heading}}"
              class="delete-service fullwidth-on-small">
              <mat-icon>delete</mat-icon>
              <span class="show-on-small">Delete Detail Item</span>
            </button>
            <div>
              <mat-form-field class="fullwidth">
                <textarea matInput 
                  [(ngModel)]="detailItem.detail" 
                  (change)="onChange()"
                  placeholder="Detail Item Text"></textarea>
              </mat-form-field>
            </div>
          </div>
        </div>

        <div *ngIf="settings?.services.length == 0" class="center">
          <h3>No services yet...</h3>
        </div>
        <div *ngIf="selectedService" class="service-panel">
          <app-order-field [order_fields]="selectedService.order_fields" (onChange)="onChange()"></app-order-field>
        </div>

      </div> <!-- ngIf service selected -->

    </div>

    <mat-action-row>
      
      <button mat-button 
        class="hide-on-small"
        (click)="addService()" 
        matTooltip="Add a new service">
        <mat-icon>add</mat-icon> Service
      </button>

      <button mat-button 
        class="hide-on-small"
        *ngIf="selectedService"
        (click)="addServiceDetailImage()" 
        matTooltip="Add a new detail image">
        <mat-icon>add</mat-icon> Detail Image
      </button>

      <button mat-button 
        class="hide-on-small"
        *ngIf="selectedService"
        (click)="addServiceDetailItem()" 
        matTooltip="Add a new detail item">
        <mat-icon>add</mat-icon> Detail Item
      </button>

      <button mat-button 
        class="hide-on-small"
        *ngIf="selectedService"
        (click)="addOrderField()" 
        matTooltip="Add a new order field">
        <mat-icon>add</mat-icon> Order Field
      </button>

      <button mat-icon-button 
        class="show-on-small"
        (click)="addService()" 
        matTooltip="Add a new service">
        <mat-icon class="btn-icon-fix">add</mat-icon>
      </button>

      <button mat-icon-button 
        class="show-on-small"
        *ngIf="selectedService"
        (click)="addServiceDetailImage()" 
        matTooltip="Add a new detail image">
        <mat-icon class="btn-icon-fix">image</mat-icon>
      </button>

      <button mat-icon-button 
        class="show-on-small"
        *ngIf="selectedService"
        (click)="addServiceDetailItem()" 
        matTooltip="Add a new detail item">
        <mat-icon class="btn-icon-fix">playlist_add</mat-icon>
      </button>

      <button mat-icon-button 
        class="show-on-small"
        *ngIf="selectedService"
        (click)="addOrderField()" 
        matTooltip="Add a new order field">
        <mat-icon class="btn-icon-fix">text_fields</mat-icon>
      </button>

      <span class="flexfill"></span>
      <button type="button" mat-button (click)="saveSettings()" [disabled]="disableSave">
        <mat-icon>save</mat-icon>Save <span class="hide-on-small">Settings</span>
      </button>
    </mat-action-row>
  </mat-expansion-panel>

  <mat-expansion-panel *ngIf="settings?.services">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Orders
      </mat-panel-title>
      <mat-panel-description>
        Order/Quote form details
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div>
      <mat-form-field>
        <textarea matInput matTextareaAutosize
          [(ngModel)]="settings.intro_question" 
          (change)="onChange()"
          placeholder="Quote Intro Question"></textarea>
        <mat-hint align="end">First "message" sent to users when creating a quote.</mat-hint>
      </mat-form-field>

      <mat-form-field>
        <textarea matInput matTextareaAutosize
          [(ngModel)]="settings.gfx_question" 
          (change)="onChange()"
          placeholder="Graphics Question"></textarea>
        <mat-hint align="end">Question about uploading artwork image files.</mat-hint>
      </mat-form-field>

      <mat-form-field>
        <textarea matInput matTextareaAutosize
          [(ngModel)]="settings.service_question" 
          (change)="onChange()"
          placeholder="Service Question"></textarea>
        <mat-hint align="end">Question about selecting one (or more) services.</mat-hint>
      </mat-form-field>

      <mat-form-field>
        <textarea matInput matTextareaAutosize
          [(ngModel)]="settings.closing_question" 
          (change)="onChange()"
          placeholder="Quote Closing Question"></textarea>
        <mat-hint align="end">Last "message" sent to users when creating a quote.</mat-hint>
      </mat-form-field>

      

    </div>
    <div class="base-order-fields">
      <app-order-field [order_fields]="settings.base_order_fields" (onChange)="onChange()"></app-order-field>
    </div>

    <mat-action-row>

      <button mat-button 
        *ngIf="selectedService"
        (click)="addBaseOrderField()" 
        matTooltip="Add a new order field">
        <mat-icon>add</mat-icon> Field
      </button>

      <span class="flexfill"></span>
      <button type="button" mat-button (click)="saveSettings()" [disabled]="disableSave">
        <mat-icon>save</mat-icon>Save <span class="hide-on-small">Settings</span>
      </button>
    </mat-action-row>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Dashboard
      </mat-panel-title>
      <mat-panel-description>
        Order category lanes
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div *ngIf="settings?.order_statuses">
	   	<h3>Order Statuses</h3>

      <mat-list dnd-sortable-container [sortableData]="settings.order_statuses">
        <mat-list-item class="sortable-item" (onDropSuccess)="onOrderStatusChange()"
          *ngFor="let item of settings.order_statuses; let i = index" dnd-sortable [sortableIndex]="i">
          <mat-icon matTooltip="Drag to sort">drag_handle</mat-icon>
          {{item.name}}
          <button mat-icon-button (click)="removeStatus(item)" matTooltip="Remove Status {{item.name}}"><mat-icon>clear</mat-icon></button> 
        </mat-list-item>
      </mat-list>

      <div class="inline-flex">
  	    <mat-form-field>
  	      <input matInput placeholder="New status..." 
          [(ngModel)]="newStatusName" (keyup.enter)="addStatus()" />
  	    </mat-form-field>
        <button mat-button (click)="addStatus()">
          <mat-icon>add</mat-icon> Status
        </button>
      </div>

		</div>


    <mat-action-row>
    	<button type="button" mat-button (click)="saveSettings()" [disabled]="disableSave">
    		<mat-icon>save</mat-icon>Save <span class="hide-on-small">Settings</span>
    	</button>
    </mat-action-row>
  </mat-expansion-panel>


  <mat-expansion-panel *ngIf="privatesettings">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Google
      </mat-panel-title>
      <mat-panel-description>
        API keys for Google services
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div>
      <mat-form-field class="halfwidth">
        <input matInput 
          [(ngModel)]="privatesettings.google_api.client_id" 
          (change)="onChange()"
          placeholder="Client ID">
      </mat-form-field>
      <mat-form-field class="halfwidth">
        <input matInput 
          [(ngModel)]="privatesettings.google_api.api_key" 
          (change)="onChange()"
          placeholder="API Key">
      </mat-form-field>
    </div>

    <mat-action-row>
      <button type="button" mat-button (click)="savePrivateSettings()" [disabled]="disableSave">
        <mat-icon>save</mat-icon>Save <span class="hide-on-small">Settings</span>
      </button>
    </mat-action-row>
  </mat-expansion-panel>

</mat-accordion>
