<div *ngIf="!order" class="content">
	<div class="header">
	  <h2 class="name">Loading Order...</h2>
	  <md-spinner></md-spinner>
	</div>
</div>

<div *ngIf="order" class="content">
  <md-toolbar color="primary" class="sticky">
		<button md-icon-button aria-label="Back to dasboard" routerLink="/dashboard/" mdTooltip="Back to Dashboard">
    	<md-icon class="md-24">arrow_back</md-icon>
  	</button>

  	<!-- this is a oneliner mess cuz the stylez for this h2 care about \n -->
	  <md-form-field class="hidden" >
      <input mdInput [mdDatepicker]="picker" [(ngModel)]="order.date_needed" placeholder="Due Date" readonly="true">
      <md-datepicker touchUi="true" #picker></md-datepicker>
    </md-form-field>
	  <h2 class="order-toolbar">
	  	<small mdTooltip="Created At"><md-icon>event</md-icon> <span>{{order.created_at | date:'short' }}</span></small>
	  	<small 
	  		*ngIf="order.date_needed; else needByDateElse" 
	  		(click)="picker.open()"
        mdTooltip="Due Date"><md-icon>alarm</md-icon> <span>{{order.date_needed | date:'shortDate'}}</span></small>
	  	<ng-template #needByDateElse><small (click)="picker.open()"><md-icon mdTooltip="No Due Date">alarm_off</md-icon> <span>No Due Date</span></small></ng-template>
    </h2>  
	  
	  <span class="flexfill"></span>

	  <span *ngIf="settings?.order_statuses; else elseBlock">
		  <md-chip [mdMenuTriggerFor]="orderStatusMenu">{{order.status}}</md-chip>
		  <md-menu #orderStatusMenu="mdMenu">
		    <button md-menu-item 
		    	*ngFor="let status of settings.order_statuses"
		    	(click)="order.status = status.name; saveOrder()">
		      <span>{{status.name}}</span>
		    </button>
		  </md-menu>
	  </span>
    <ng-template #elseBlock><md-chip>{{order.status}}</md-chip></ng-template>

		<button md-icon-button [mdMenuTriggerFor]="orderDetailMenu">
	    <md-icon class="example-icon">more_vert</md-icon>
	  </button>
	  <md-menu #orderDetailMenu="mdMenu">
	  	<button md-menu-item (click)="clearDueDate()" [disabled]="!order.date_needed">
	      <md-icon>alarm_off</md-icon>
	      <span>Clear Due Date</span>
	    </button>
	    <button md-menu-item (click)="deleteOrder()">
	      <md-icon>delete</md-icon>
	      <span>delete</span>
	    </button>
	  </md-menu>


	</md-toolbar>

	<md-tab-group class="order-details">
	  <md-tab label="Details">
	  	<app-order-tags [tags]="order.tags" (tagsChanged)="tagsChanged($event)"></app-order-tags>
	  	
	  	<div>
			  <md-form-field>
			    <input mdInput [(ngModel)]="order.name" (change)="onChange($event)" placeholder="name">
			  </md-form-field>
			  <md-form-field>
			    <input mdInput [(ngModel)]="order.org" (change)="onChange($event)" placeholder="org">
			  </md-form-field>
			  
			</div>
			<div>
				<md-form-field class="with-button">
			    <input mdInput [(ngModel)]="order.email" (change)="onChange($event)" placeholder="email">
			  </md-form-field>
			  <button md-icon-button 
          *ngIf="order.email"
          mdTooltip="Email {{order.email}}">
          <md-icon class="icon">mail_outline</md-icon>
        </button>
			  <md-form-field class="with-button">
			    <input mdInput [(ngModel)]="order.phone" (change)="onChange($event)" placeholder="phone">
			  </md-form-field>
			  <button md-icon-button 
          *ngIf="order.phone"
          mdTooltip="Call {{order.phone}}">
          <md-icon class="icon">phone</md-icon>
        </button>
			</div>
		  <div>
			  <md-form-field class="fullwidth">
			    <textarea mdInput [(ngModel)]="order.notes" (change)="onChange($event)" placeholder="notes"></textarea>
			  </md-form-field>
			</div>

		  <md-list>
			  <md-list-item *ngFor="let service of order.services">{{service}}</md-list-item>
			</md-list>

			<h3 *ngIf="order.line_items">Line Items ({{order.line_items.length}})</h3>
		  <div *ngFor="let line_item of order.line_items">
		  	<h3>Service: {{line_item.service_label}}</h3>

		  	<md-form-field>
			    <input mdInput [(ngModel)]="line_item.quantity" (change)="onChange($event)" placeholder="quantity" type="number">
			  </md-form-field>

			  <md-form-field>
			    <input mdInput [(ngModel)]="line_item.total" (change)="onChange($event)" placeholder="total" type="number">
			  </md-form-field>

			  <div>
			  	<md-form-field class="fullwidth">
				    <textarea mdInput [(ngModel)]="line_item.notes" (change)="onChange($event)" placeholder="notes"></textarea>
				  </md-form-field>
				</div>

			  <h4 *ngIf="items">Items ({{items.length}})</h4>
			  <div *ngFor="let item of items">
			  	{{item}}
			  </div>
		  </div>
	  </md-tab>

	  <md-tab label="Attachments ({{attachmentItemsForOrder().length}})">

	  	<div id="new-attachment">
		  	<label for="quoteDesignFile"><md-icon>add</md-icon>Upload Image Files</label>
	      <input id="quoteDesignFile" type="file" multiple="multiple" (change)="quoteFileChnaged($event)" (disabled)="quoteDesingUploading" />
	      <md-progress-bar mode="indeterminate" [hidden]="!quoteDesingUploading"></md-progress-bar>
	      
	      <span id="quoteDesignUploadFeedback" [hidden]="!gfxError">
	        ERROR! Could not upload that file. Please try again or choose a different file. If this form does not work for you please email your graphics to <a href="mailto: rebelcricket@gmail.com">rebelcricket@gmail.com</a>.
	      </span>
	      <div>
	        <small>Graphic files can be sent as ai, eps, pdf, psd, svg, jpeg, or tiff. They should be sized to the desired print size at 300 dpi. If you have a physical copy of the art let us know, we’ll schedule a time for you to bring it in and discuss the options. </small>
	      </div>
	    </div>

	    <div *ngFor="let item of attachmentItemsForOrder()" class="attachment-cards">
			  <md-card>
		
					  <img md-card-image class="attachment-img" alt="{{item}}" [src]="sanitizer.bypassSecurityTrustUrl(attachmentSrcFor(order, item))" />
					  <!-- <md-card-content>
					    <p></p>
					  </md-card-content> -->
					  <md-card-actions>
					  	<span class="flexfill"></span>
					  	<span class="item-key" title="{{item}}">{{item}}</span>
					    <span class="flexfill"></span>
					    <button md-icon-button (click)="deleteAttachmentFor(item);"><md-icon>delete</md-icon></button>
					  </md-card-actions>
					</md-card>
			
			</div>
	  	
	  </md-tab>
	  
	  <md-tab label="{{historyLabel()}}">
	  	<md-list>
			  <md-list-item *ngFor="let item of order.history?.reverse() ">
	  			{{item.date | date:'short' }} 
					{{item.title}} 
					{{item.description}} 
	  		</md-list-item>
	  	</md-list>
	  </md-tab>
	  
	</md-tab-group>
	<md-action-row>
		<md-select placeholder="Add Service" [(ngModel)]="selectedService">
		  <md-option *ngFor="let item of settings?.services" [disabled]="serviceNeedsDisabled(item)" [value]="item">
		    {{ item.name }}
		  </md-option>
		</md-select>

    <button md-icon-button 
    	*ngIf="selectedService"
      (click)="addOrderLineItem()" 
      mdTooltip="Add a new line item"
      mdTooltipPosition="above">
      <md-icon>add</md-icon>
    </button>

    <span class="flexfill"></span>
    <!-- [disabled]="needsSave" -->
    <button md-button (click)="saveOrder()">
  		<md-icon>save</md-icon>
  		Save Order
  	</button>
  </md-action-row>
  

</div>
