.content{
	padding: 1em;
}
.name{
	max-width: 60vw;
	max-height: 100vh;
	white-space: pre-wrap;
  overflow: scroll;
  text-overflow: ellipsis;
}
.fullwidth {
	width: 100%;
}

.float{
	float:left;
}

.sticky{
	margin-top: 1em;
	position: sticky;
	top: 56px;
	z-index: 2;
}

@media (max-width: 599px) {
	md-form-field{
		width: 100%;
	}
}
