 <header class="center">
  <h1 class="rebelcricket-header">Design</h1>
</header>
<div class="flex-wrap">
  <div id="design-controls">

    <mat-form-field>
      <mat-select placeholder="Template" [formControl]="plateControl" [(ngModel)]="plate">
        <mat-option>-- None --</mat-option>
        <mat-optgroup *ngFor="let group of plateGroups" [label]="group.name"
                      [disabled]="group.disabled">
          <mat-option *ngFor="let plate of group.plates" [value]="plate.value">
            {{ plate.viewValue }}
          </mat-option>
        </mat-optgroup>
      </mat-select>
    </mat-form-field>



<!--     <paper-swatch-picker color="[[orderDesign.designElementColor]]" column-count=4 color-list='["#000000", "#65a5f2", "#83be54", "#f0d551", "#e5943c", "#a96ddb", "#B20000", "#ffffff"]'></paper-swatch-picker> -->

    <!-- <mat-slide-toggle [color]="gray" [checked]="toggleDesign" (click)="toggleDesignElementImg">{{toggleDesignTxt}}</mat-slide-toggle> -->
    <mat-slide-toggle [color]="gray"></mat-slide-toggle>

    <br>
    <label for="orderDesignFile">Add Image</label>
    <input #orderDesignFile id="orderDesignFile" type="file">
    <br><br>
<!--      <input
      id="catInput"
      is="iron-input"
      bind-value="{{cat.name}}">
-->
<!-- 
    <template is="dom-repeat" items="{{orderDesign}}">
      <template is="dom-repeat" items="{{_attachmentKeys(item._attachments)}}" as="attachment">
        <img src="http://rebelcricket.lacuna.club:5984/cats/{{item._id}}/{{ attachment }}" height="50" width="50">
      </template>
    </template>
    <br> -->

    
  </div>
  


  <div id="objectTools" [hidden]="objectToolsHidden">
    <button mat-button class="custom" id="removeImage" on-tap="removeImageFromCanvas" raised>remove image</button>

    <div class="controls">
      <div>
        <label><span>Grayscale:</span> <input type="checkbox" id="grayscale"></label>
        <label><span>Invert:</span> <input type="checkbox" id="invert"></label>
      </div>
      <div>
        <label><span>Sepia:</span> <input type="checkbox" id="sepia"></label>
        <label><span>Sepia2:</span> <input type="checkbox" id="sepia2"></label>
      </div>
      <div>
        <label><span>Remove white:</span> <input type="checkbox" id="remove-white"></label>
        <br>
        <label>Threshold: <input type="range" id="remove-white-threshold" value="60" min="0" max="255"></label>
        <br>
        <label>Distance: <input type="range" id="remove-white-distance" value="10" min="0" max="255"></label>
      </div>
      <div>
        <label><span>Brightness:</span> <input type="checkbox" id="brightness"></label>
        <br>
        <label>Value: <input type="range" id="brightness-value" value="100" min="-255" max="255"></label>
      </div>
      <div>
        <label><span>Contrast:</span> <input type="checkbox" id="contrast"></label>
        <br>
        <label>Value: <input type="range" id="contrast-value" value="0" min="-255" max="255"></label>
      </div>
      <div>
        <label><span>Saturate:</span> <input type="checkbox" id="saturate"></label>
        <br>
        <label>Value: <input type="range" id="saturate-value" value="100" min="-100" max="100"></label>
      </div>
      <div>
        <label><span>Noise:</span> <input type="checkbox" id="noise"></label>
        <br>
        <label>Value: <input type="range" id="noise-value" value="100" min="0" max="1000"></label>
      </div>
      <div>
        <label><span>GradientTransparency:</span> <input type="checkbox" id="gradient-transparency"></label>
        <br>
        <label>Value: <input type="range" id="gradient-transparency-value" value="100" min="0" max="255"></label>
      </div>
      <div>
        <label><span>Pixelate</span> <input type="checkbox" id="pixelate"></label>
        <br>
        <label>Value: <input type="range" id="pixelate-value" value="4" min="2" max="20"></label>
      </div>
      <div>
        <label><span>Blur:</span> <input type="checkbox" id="blur"></label>
        <label><span>Sharpen:</span> <input type="checkbox" id="sharpen"></label>
        <label><span>Emboss:</span> <input type="checkbox" id="emboss"></label>
      </div>
      <div>
        <label><span>Tint:</span> <input type="checkbox" id="tint"></label>
        <input type="color" id="tint-color" value=""><br>
        <label>Opacity: <input type="range" id="tint-opacity" min="0" max="1" value="1" step="0.1"></label><br>
      </div>
      <div>
        <label><span>Multiply:</span> <input type="checkbox" id="multiply"></label>
        <input type="color" id="multiply-color" value="">
      </div>
      <div>
      <label><span>Blend:</span> <input type="checkbox" id="blend"></label>
        <select id="blend-mode" name="blend-mode">
          <option selected="" value="add">Add</option>
          <option value="diff">Diff</option>
          <option value="subtract">Subtract</option>
          <option value="multiply">Multiply</option>
          <option value="screen">Screen</option>
          <option value="lighten">Lighten</option>
          <option value="darken">Darken</option>
        </select>
        <input type="color" id="blend-color" value="#00f900">
      </div>
    </div>
  </div> <!-- object-tools -->
  




  <nav>
    <button id="drawSOMETHING" (click)="drawSomething()">draw</button>
    <button id="loadSVG" (click)="loadSVG('tshirt-m.svg')">Load SVG</button>
    -
    <input id="zoom" (input)="zoom($event)" type="range" min="0.1" max="3" step="0.1" [(ngModel)]="zoomVal">+
    <button id="zoomReset" (click)="zoomReset()">x</button>
  </nav>

  <canvas id="c"></canvas>



</div>

