.svg {
  display: none;
}

nav {
  height: 26px;
  padding: 6px;
}

canvas {
  border: 1px solid gray;
}

.center{
  text-align: center;
}

.flex-wrap {
  
}

.flex-wrap div {
  min-width: 200px;
}

#design-controls, #objectTools{
  padding-left: 2em;
}

#design-element-container{
  
}

#design-element-img-container{

}
#design-element-canvas-container {

}

canvas:hover{
  border:thin solid #ccc;
}

.controls label{
  font-size: 16px;

}
.controls {
  margin-top: 16px;
  line-height: 14px;
}
.controls div{
  margin-top: 10px;
}

@media (max-width: 767px) {


}