#new-order-fab {
  position: absolute;
  bottom: 1.5em;
  right: 1.5em;
  z-index: 6; 
}

/* fix ng2-dnd littering "cursor:pointer" all over the place... */
#container, #container > div, .status-container, md-card {
  cursor: default!important;
}

md-card-header{
  cursor: move!important;
}

.drag-handle{
  cursor: ew-resize!important;
}

/* flex essentialz */
#container {
  width: 100vw;
  height: calc(100vh - 64px);
  display: flex;
  flex-direction: row;
  overflow-y: hidden;
  overflow-x: scroll;
}
#container::-webkit-scrollbar {
  -webkit-appearance: none;
}

#container::-webkit-scrollbar:horizontal {
  height: 10px;
}

#container::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 1px solid white;
  background-color: rgba(0, 0, 0, .5);
}
#container::-webkit-scrollbar-track { 
  background-color: rgba(0, 0, 0, .0); 
  border-radius: 8px; 
}

#container > div {
  flex: 0 1 auto;
  min-width: 300px;
  transition: all 0.1s ease-out;
  overflow-y: scroll;
  overflow-x: hidden;
  overflow-wrap: break-word;
  border-left: 1px solid rgba(0,0,0,0.1);
  border-right: 1px solid rgba(0,0,0,0.1);

}

md-toolbar {
  position: sticky;
  top: 0;
  z-index: 2;
}

md-toolbar h1 {
  text-align: center;
  width: 100%;
}

md-card{
  padding: 0;
  margin-left:0.5em;
  margin-right:0.5em;
  margin-bottom: 3em;
}

md-expansion-panel, md-card{
  background-color: #ebebeb;
}

md-card:hover{
  box-shadow: 0 3px 3px -2px rgba(0, 0, 0, .2), 0 3px 4px 0 rgba(0, 0, 0, .14), 0 1px 8px 0 rgba(0, 0, 0, .12);
}

md-card-actions{
  padding-left: 1.5em;
  padding-right: 1em;
}

md-card-header{
  background-color: #e0e0e0;
  padding: 0.5em 0.5em 0 0.5em;
}

md-card-subtitle{
  align-items: center;
  display: flex;
}

md-card-actions, md-action-row{
  display: flex;
  align-items: baseline;
}

md-chip:first-child{
  margin: 0.5em;
}

md-chip{
  /*white-space: pre-wrap;*/
  text-overflow: ellipsis;
  max-width: 200px;
  overflow: hidden;
}

md-card-actions md-basic-chip{
  padding: 4px 10px;
  margin-bottom: 3px;
  margin-left: 5px;
}

.mat-chip-remove{
  margin-left: -4px;
  margin-right: 6px;
}

.status-container{
  min-height: calc(100vh - 64px - 64px);
}
