.needs-reload{
  width: 70vw;
  margin: 5em 10vw;
  text-align: center;
}
.needs-reload a:hover{
  text-decoration: underline;
}

#new-order-fab {
  position: absolute;
  bottom: 1.5em;
  right: 1.5em;
  z-index: 6; 
}

#new-order-fab:hover {
  transform: scale(1.3);
  transition-duration: 200ms;
}



/* flex essentialz */
#container {
  width: 100vw;
  height: calc(100vh - 64px);
  display: flex;
  flex-direction: row;
  overflow-y: hidden;
  overflow-x: scroll;
}
#container::-webkit-scrollbar {
  -webkit-appearance: none;
}

#container::-webkit-scrollbar:horizontal {
  height: 10px;
}

#container::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 1px solid white;
  background-color: rgba(0, 0, 0, .5);
}
#container::-webkit-scrollbar-track { 
  background-color: rgba(0, 0, 0, .0); 
  border-radius: 8px; 
}

#container > div {
  flex: 0 1 auto;
  min-width: 284px;
  transition: all 0.1s ease-out;
  overflow-y: scroll;
  overflow-x: hidden;
  overflow-wrap: break-word;
  border-left: 1px solid rgba(0,0,0,0.1);
  border-right: 1px solid rgba(0,0,0,0.1);

}

mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 2;
}

mat-toolbar h1 {
  text-align: center;
  width: 100%;
}

mat-card{
  padding: 0;
  margin-left:0.5em;
  margin-right:0.5em;
  margin-bottom: 3em;
}

mat-expansion-panel, mat-card{
  background-color: #ebebeb;
}

mat-card:hover{
  box-shadow: 0 3px 3px -2px rgba(0, 0, 0, .2), 0 3px 4px 0 rgba(0, 0, 0, .14), 0 1px 8px 0 rgba(0, 0, 0, .12);
}

mat-card-actions{
  padding-left: 1.5em;
  padding-right: 1em;
}

mat-card-header{
  background-color: #e0e0e0;
  padding: 0.5em 0.5em 0 0.5em;
}

mat-card-subtitle{
  align-items: center;
  display: flex;
}

mat-card-actions, mat-action-row{
  display: flex;
  align-items: baseline;
}

mat-chip:first-child{
  margin: 0.5em;
}

mat-chip{
  /*white-space: pre-wrap;*/
  text-overflow: ellipsis;
  max-width: 200px;
  overflow: hidden;
}

mat-card-actions mat-basic-chip{
  padding: 4px 10px;
  margin-bottom: 3px;
  margin-left: 5px;
}

.mat-chip-remove{
  margin-left: -4px;
  margin-right: 6px;
}

.mat-menu-content{
  overflow: scroll;
}

.status-container{
  height: 100%;
  height: calc(100vh - 140px);
}

.fullwidth{
  width: 100%;
}

.filter-menu-item{
  display:flex;
  align-items:center;
  height:100%;
}

.filter-menu-item-name{
  height:100%;
}
