/* app stylez */
body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', 'Noto', sans-serif;
}

h1,h2,h3,h4,h5,h6{
	font-family: 'Open Sans', sans-serif;
}

.flexfill {
  flex: 1 1 auto;
}
.invisible{
  visibility: hidden!important;
}
[hidden], .hidden {
  display: none!important;
}

/* mat-tab-group */
mat-sidenav-container, 
.mat-drawer-content, 
#settings .mat-expansion-panel-content{
  overflow: visible!important;
}

.center{
  text-align: center;
}

.nolist {
  list-style: none;
}

.order-details mat-tab-header{
	position: sticky!important;
	top: 	128px;
	z-index: 2;
	background-color: white;
}

app-order-tags .mat-chip-list-wrapper{
  align-items: flex-start!important;
}

@media (max-width: 599px) {
	.order-details mat-tab-header{
		top: 	112px;
	}
}
