mat-list-item:hover {
	background-color: gray;
}

.dashboard-container {
  width: 100%;
  min-height: calc(100vh - 64px);
}

.dashboard-sidenav-content {
  display: flex;
  /*overflow-y: scroll;*/
  align-items: flex-start;
  justify-content: center;
}

.dashboard-sidenav {
  min-width: 285px;
  background: #f3f3f3;
}

mat-toolbar {
	position: sticky;
	top: 0;
	z-index: 2;
}
