<md-toolbar color="primary">
  <button type="button" class="menu-button" md-icon-button (click)="sidenav.toggle()">
    <md-icon>menu</md-icon>
  </button>
<!--   <button md-icon-button (click)="back()">
    <md-icon>arrow_back</md-icon>
  </button> -->

  <span class="flexfill"></span>
  <span>{{title}}</span>
  <span class="flexfill"></span>
  
  <app-search-box class="search-container" #searchBox (onSearch)="doSearch($event)" (onFocus)="doSearch($event)"></app-search-box>

  <button md-icon-button [mdMenuTriggerFor]="menu">
    <md-icon class="example-icon">more_vert</md-icon>
  </button>
  <md-menu #menu="mdMenu">
    <button md-menu-item>
      <md-icon>account_circle</md-icon>
      <span>account</span>
    </button>
    <button md-menu-item disabled>
      <md-icon>notifications_off</md-icon>
      <span>disable alerts</span>
    </button>
    <button md-menu-item>
      <md-icon>favorite_border</md-icon>
      <span><small>madewithlove</small></span>
    </button>
  </md-menu>

</md-toolbar>

<md-sidenav-container class="dashboard-container">
  <md-sidenav 
    #sidenav 
    mode="push" 
    opened="false"
    class="dashboard-sidenav">

    <app-sidebar (sidenavEvent)="sidenav.close()"></app-sidebar>

  </md-sidenav>

  
  <div class="dashboard-sidenav-content">
    <router-outlet></router-outlet>
  </div>

</md-sidenav-container>
