<mat-toolbar color="primary">
  <button type="button" class="menu-button" mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
<!--   <button mat-icon-button (click)="back()">
    <mat-icon>arrow_back</mat-icon>
  </button> -->

  <span class="flexfill"></span>
  <span>{{title}}</span>
  <span class="flexfill"></span>
  
  <app-search-box class="search-container" #searchBox (onSearch)="doSearch($event)" (onFocus)="doSearch($event)"></app-search-box>

  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon class="example-icon">more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">

    <button *ngIf="!environment.admin_party" mat-menu-item disabled>
      <mat-icon>account_circle</mat-icon>
      <span>account</span>
    </button>

    <button *ngIf="environment.admin_party" mat-menu-item>
      <span style="margin-left:0.5em;margin-right:1em;">🎉 </span> 
      <span>Admin Party!</span>
    </button>
    
    <button *ngIf="environment.admin_party" mat-menu-item>
      <mat-icon>favorite_border</mat-icon>
      <span>madewithlove in pdx</span>
    </button>

  </mat-menu>

</mat-toolbar>

<mat-sidenav-container class="dashboard-container">
  <mat-sidenav 
    #sidenav 
    mode="push" 
    opened="false"
    class="dashboard-sidenav">

    <app-sidebar (sidenavEvent)="sidenav.close()"></app-sidebar>

  </mat-sidenav>

  
  <div class="dashboard-sidenav-content">
    <router-outlet></router-outlet>
  </div>

</mat-sidenav-container>
