#orders-container{
	display: -webkit-flex;
	display: flex;
	flex-direction: row;
	/*margin-top: 1em;*/
	padding: 1em;
}

#orders-nav{
	width: calc(25vw - 1em);
	margin-right: 1em;
}

#orders-content{
	-webkit-flex: 1;
          flex: 1;
 	width: calc(73vw - 2em);
}
md-toolbar{
	width: 100%;
}
md-selection-list{
	overflow: scroll;
	scroll-behavior: all;
	max-height: (100vh - 56px);
	
}
.sticky{
	position: sticky;
	top: 56px;	
	z-index: 1;
}

.stickyTableHeader{
	position: sticky;
	top: 0;	
	z-index: 1;
	background-color: white;
}

.fullwidth{
	width:100%;
}

/* tabl structure */
.example-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  max-height: calc(100vh - 64px - 3em);
  margin-bottom: 1em;
}

.example-header {
  min-height: 64px;
  display: flex;
  align-items: center;
  padding-left: 24px;
  font-size: 20px;
}

.mat-table {
  overflow: auto;
  /*max-height: 500px;*/
}

.mat-header-cell .mat-sort-header-sorted {
  color: black;
}

@media (max-width: 599px) {
  #orders-container{
  	flex-direction: column;
  	padding: 0;
  }
  md-selection-list, .sticky{
		width: 100vw;
	}
	#orders-content {
	 	width: 100vw;
	}
  .truncate {
	  max-width: 77vw;
	  white-space: initial!important;
	}

}