<div id="orders-container">
  <div id="orders-nav">
    <md-toolbar color="primary" class="sticky">
      <h1>Orders</h1>
      <span class="flexfill"></span>
      <button md-icon-button>
        <md-icon class="md-24" aria-label="Create a new order" mdTooltip="Create a new order" mdTooltipPosition="left" routerLink="/dashboard/order/new">add</md-icon>
      </button>
    </md-toolbar>

    <div *ngIf="orderTags?.length">
      <h3 mdLine class="center">Tags <span>({{orderTags.length}})</span></h3>
      <md-selection-list class="sticky" #selectedOrderTags>
        <md-list-option *ngFor="let tag of orderTags">
          {{tag}}
        </md-list-option>
      </md-selection-list>
    </div>
    <!-- <md-nav-list>
      <span *ngIf="loading">
        <i>loading orders...</i>
      </span> 
      <md-list-item *ngFor="let order of orders" 
        [class.selected]="order === selectedOrder"
        routerLink="/dashboard/order/{{order.id}}" 
        routerLinkActive="active">
        {{order.name}} <span *ngIf="order.org" class="badge">&nbsp;({{order.org}})</span>

        <span class="flexfill"></span>
        <md-icon>navigate_next</md-icon>
      </md-list-item>
    </md-nav-list> -->

  </div>
  <div id="orders-content">

    


    <div class="example-container">
      <!-- <span *ngIf="loading">
        <i>loading orders...</i>
      </span>  -->
      <md-table #table [dataSource]="dataSource" mdSort class="mat-elevation-z2">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <!-- ID/Created Column -->
        <ng-container mdColumnDef="orderId">
          <md-header-cell *mdHeaderCellDef md-sort-header mdSortActive="true"> Created </md-header-cell>
          <md-cell *mdCellDef="let row"> {{createdAtDate(row.id) | date:'shortDate' }} </md-cell>
        </ng-container>

        <ng-container mdColumnDef="orderName">
          <md-header-cell *mdHeaderCellDef md-sort-header> Name </md-header-cell>
          <md-cell *mdCellDef="let row"> {{row.name}} </md-cell>
        </ng-container>

        <ng-container mdColumnDef="orderEmail">
          <md-header-cell *mdHeaderCellDef md-sort-header> Email </md-header-cell>
          <md-cell *mdCellDef="let row"> {{row.email}} </md-cell>
        </ng-container>

        <ng-container mdColumnDef="orderOrg">
          <md-header-cell *mdHeaderCellDef md-sort-header> Org </md-header-cell>
          <md-cell *mdCellDef="let row"> {{row.org}} </md-cell>
        </ng-container>

        <ng-container mdColumnDef="orderPhone">
          <md-header-cell *mdHeaderCellDef md-sort-header> Phone </md-header-cell>
          <md-cell *mdCellDef="let row"> {{row.phone}} </md-cell>
        </ng-container>

        <md-header-row class="stickyTableHeader" *mdHeaderRowDef="displayedColumns"></md-header-row>

        <md-row 
          *mdRowDef="let row; columns: displayedColumns;" 
          routerLink="/dashboard/order/{{row.id}}" 
          class="row-hover"
        ></md-row>
      </md-table>
      <md-paginator #paginator
        [length]="orderService.data.length"
        [pageIndex]="0"
        [pageSize]="50"
        [pageSizeOptions]="[50, 100, 500]">
      </md-paginator>
      
    </div>

   <!--  <md-nav-list>
      
      <md-list-item *ngFor="let order of orders" 
        [class.selected]="order === selectedOrder"
        routerLink="/dashboard/order/{{order.id}}" 
        routerLinkActive="active">
        {{order.name}} <span *ngIf="order.org" class="badge">&nbsp;({{order.org}})</span>

        <span class="flexfill"></span>
        <md-icon>navigate_next</md-icon>
      </md-list-item>
    </md-nav-list> -->

  </div>
</div>
<!-- <app-order-detail [order]="selectedOrder"></app-order-detail> -->
